/* plus-jakarta-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/plus-jakarta-sans-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/plus-jakarta-sans-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --main-color: #2f70fe;
  --dark-navy-color: #000c2d;
  --main-font-family: "Plus Jakarta Sans";
}

body {
  font-family: var(--main-font-family), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 5px;
  }
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  @media screen and (max-width: 1024px) {
    position: static;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
  max-width: 1242px;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1000px;
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
  }
}

.header__link {
  text-decoration: none;
  color: var(--dark-navy-color);
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

#header__link-login {
  margin-left: 20px;
  position: relative;
  &::before {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    background: url("../icons/person.svg");
  }
}

#header__btn-blue {
  background: transparent;
  padding: 12px 23px;
  border: 1px solid var(--main-color);
}

#header__link-blue {
  color: var(--main-color);
}

/* intro */

.intro {
  background: url("../img/intro_final.png") center center/ cover no-repeat;
  padding-top: 114px;
  padding-bottom: 190px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 500;

  @media screen and (max-width: 1280px) {
    background: url("../img/intro.png") center center/ cover no-repeat;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.intro__title-container {
  max-width: 710px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0 5%;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  max-width: 620px;
  text-align: center;
  line-height: 65px;
  margin-bottom: 7px;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
    line-height: 40px;
  }

  @media screen and (max-width: 576px) {
    font-size: 24px;
    line-height: 40px;
  }
}

.intro__subtitle {
  color: #fff;
  line-height: 30px;
  max-width: 605px;
  text-align: center;
  margin-bottom: 33px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.intro__button {
  padding: 16px 25px;
  background-color: #000;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
  border: 0;

  @media screen and (max-width: 768px) {
    padding: 14px 20px;
    font-size: 14px;
  }

  @media screen and (max-width: 567px) {
    padding: 12px 18px;
    font-size: 12px;
  }
}

.intro__button:hover,
.intro__button:focus {
  background-color: #393939;
}

/* benefits */

.benefits {
  background: url("../img/benefits_final.png") center center/ cover no-repeat;
  position: relative;
  top: -105px;

  @media screen and (max-width: 1280px) {
    background: url("../img/benefits.png") center center/ cover no-repeat;
  }
}

.benefits__container {
  padding: 0 21%;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    padding: 0 15%;
  }

  @media screen and (max-width: 768px) {
    padding: 0 5%;
  }
}

.benefits__title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #000;
  text-align: center;
  padding-top: 170px;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }

  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 56px;
  padding-top: 44px;
  padding-bottom: 148px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

.benefits__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits__img {
  margin-bottom: 24px;
  max-width: 100px;
}

.benefits__card-desc {
  color: var(--dark-navy-color);
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

/* content */

.content__container {
  padding: 0 19%;

  @media screen and (max-width: 1280px) {
    padding: 0 8%;
  }

  @media screen and (max-width: 768px) {
    padding: 0 3%;
  }
}

.content__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  margin-bottom: 150px;
  column-gap: 200px;

  @media screen and (max-width: 1280px) {
    column-gap: 100px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 50px;
    margin-bottom: 150px;
  }

  @media screen and (max-width: 567px) {
    margin-bottom: 90px;
  }
}

.content__text {
  @media screen and (max-width: 768px) {
    order: 2;
  }
}

.content__title {
  width: 379px;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #181818;

  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  @media screen and (max-width: 567px) {
    font-size: 16px;
  }
}

.content__desc {
  width: 410px;
  margin-top: 24px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: var(--dark-navy-color);

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 567px) {
    font-size: 12px;
    line-height: 20px;
    margin-top: 16px;
  }
}

.content__img-wrapper {
  max-width: 400px;
  max-height: 400px;

  @media screen and (max-width: 768px) {
    order: 1;
  }
}

.content__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#content__img-2 {
  position: relative;
  left: -42px;
}

.content__button {
  margin-top: 24px;
  border: none;
  background: transparent;
  padding: 0;
  font-weight: 500;
  line-height: 28px;
  color: var(--main-color);
  position: relative;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.content__button::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 95px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../icons/arrow.svg") center center/ cover no-repeat;

  @media screen and (max-width: 768px) {
    top: 5px;
    left: 85px;
    height: 16px;
    width: 16px;
  }
}

/* footer */

.footer {
  background: #000;
  margin-top: 120px;
  padding-top: 89px;
  padding-bottom: 61px;

  @media screen and (max-width: 768px) {
    padding-top: 70px;
  }
}

.footer__container {
  padding: 0 17%;

  @media screen and (max-width: 1440px) {
    padding: 0 10%;
  }

  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }
}

.footer__lists {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (max-width: 576px) {
    gap: 20px;
  }
}

.footer__heading {
  margin-bottom: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.footer__item {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 576px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__bottom {
  margin-top: 57px;
  display: flex;
  gap: 434px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }
}

